<!DOCTYPE html>
<html>
  <head>
    <title>PupsNSuds</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Pups 'n Suds Dog Grooming</h1>
      <ul>
        <li><a href="/users">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/rates">Rates</a></li>
        <li><a href="/rates">Book an Appointment</a></li>
      </ul>
    </header>

    <%= yield %>
  </body>
</html>
