<h2>
	Welcome to Pups N Suds professional dog grooming.
</h2>

<p>
	At Pups N Suds we believe that all dogs deserve to look and feel their best. Pups N Suds prides itself in pampering dogs and making them feel loved.
	A coat free of mats, burs, tangles and skin free of fleas and ticks means your dog will be comfortable and happy.
	Regular grooming keeps your pets coat smelling fresh and looking at its best.
</p>
<div>
	Your dogs day at the spa includes
	<ul>
		Complete skin analysis
		Brush out and or clipping
		Cleaning of the ears
		Trimming of the nails
		Bathing with  our hypo-allergenic shampoo
		Velocity dried and re-brushed
		We also offer specialized treatments such as flea and skunk baths and medicated shampoos for dry itchy coats.
	</ul>
</div>

<p>
	Flexible hours offered to accommodate for those who work.
	For more information or to schedule an appointment please call (905) 320-9050
</p>

<aside class="best_reasons">
	Top Ten reasons why it costs more to get your pet groomed than your own hair cut
	<ol>
		<li>The likelihood of you pooping on the hairdresser is pretty slim</li>
		<li>You don't bite or scratch your hairdresser</li>
		<li>Your hairdresser only washes and cuts the hair on your head</li>
		<li>Your haircut doesn’t include a manicure and pedicure</li>
		<li>You sit still for your hairdresser</li>
		<li>Your hairdresser doesn't have to remove the boogies from your eyes</li>
		<li>Your hairdresser doesn't have to clean your ears</li>
		<li>Your hairdresser doesn't have to give you a sanitary trim</li>
		<li>You don't go for eight weeks without washing or brushing your hair</li>
		<li>Your hairdresser doesn't wash and clean your rear end</li>
	</ol>
</aside>
